/* styles.css */

.dataArea {
    position: absolute;
    top: 90px;
    border: 1px solid #000000;
}

.sort {
    position: absolute;
    top: 55px;
    left: 20px;
}

table {
    border-collapse: collapse;
    width: 800px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th.col0 {
    min-width: 25px;
}

td.col0 {
    min-width: 25px;
}

th.col1 {
    min-width: 550px;
}

td.col1 {
    min-width: 550px;
}

th.col2 {
    min-width: 173px;
}

td.col2 {
    min-width: 157px;
}

thead {
    display: block;
}

tbody {
    display: block;
    overflow-y: scroll;
    height: 345px;
}

.buttonArea {
    position: absolute;
    top: 55px;
    right: 20px;
}

/* 偶数番目の行 */
tr:nth-child(even) {
    background-color: #fffff0;
}

/* 奇数番目の行 */
tr:nth-child(odd) {
    background-color: #ffffff;
}

th {
    background-color: #ffffcc;
}

.searchArea {
    position: absolute;
    top: 55px;
    left: 250px;
}