<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>メモ帳：一覧</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="memo.css">
    <link rel="stylesheet" type="text/css" href="memoHome.css">
</head>

<body>
    <div class="container">
        <div>
            <h1></h1>
            <div class="buttonArea">
                <!-- 作成ボタン -->
                <button onclick="window.location.href='/toMemoCreate'">作成</button>
                <!-- 表示ボタン -->
                <button onclick="displaySelected()">表示</button>
                <form id="displayForm" th:action="@{/select}" method="post" style="display: none;">
                    <input type="hidden" name="id" />
                </form>
                <!-- 削除ボタン -->
                <button onclick="deleteSelected()">削除</button>
                <form id="deleteForm" th:action="@{/delete}" method="post" style="display: none;">
                    <input type="hidden" name="id" />
                </form>
            </div>
            <div class=" sort">
                <form th:action="@{/sort}" method="get">
                    <select id="sortKey" name="sortKey">
                        <option value="id" th:selected="${session.sortKey == null or session.sortKey == 'id'}">作成順
                        </option>
                        <option value="title" th:selected="${session.sortKey == 'title'}">タイトル</option>
                        <option value="create_time" th:selected="${session.sortKey == 'create_time'}">登録日時</option>
                    </select>
                    <select id="sortDirection" name="sortDirection">
                        <option value="asc"
                            th:selected="${session.sortDirection == null or session.sortDirection == 'asc'}">昇順</option>
                        <option value="desc" th:selected="${session.sortDirection == 'desc'}">降順</option>
                    </select>
                    <button type="submit">ソート</button>
                </form>
            </div>
        </div>
        <div class="dataArea">
            <table>
                <thead>
                    <tr>
                        <th class="col0"></th>
                        <th class="col1">タイトル</th>
                        <th class="col2">登録日時</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="object : ${session.sortMemoList}" onclick="selectRow(this)">
                        <td class="col0"><input type="radio" name="selectedMemo" th:value="${object.id}"
                                th:checked="${session.sortMemoList[0] == object}" /></td>
                        <td class="col1" th:text="${object.title}"></td>
                        <td class="col2" th:text="${#dates.format(object.create_time, 'yyyy/MM/dd HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- メッセージ -->
        <div>
            <p class="message" th:text="${message}"></p>
        </div>
    </div>
    <script src="memoHome.js"></script>
</body>

</html>