<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>新規作成</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div>
        <form th:action="@{/createMemo}" th:object="${memoModel}" method="post">
            <div>
                <label>タイトル</label>
                <input id="title" type="text" th:field="*{title}">
            </div>
            <div>
                <label>内容</label>
                <textarea id="content" th:field="*{content}" rows=" 10"></textarea>
            </div>
            <div>
                <button type="submit">作成</button>
                <a href="/toIndex">キャンセル</a>
            </div>
        </form>
    </div>
</body>

</html>